// ---------------------------
//  Babel config
//  Note this config is only used to setup your IDE
//  Compilation settings are located in ./build/[server|client].config.js
// ---------------------------
{
  "presets": ["es2015", "stage-0", "react", "flow"]
}