/* ------------------------------------------
 * Home container style
 *------------------------------------------- */
.home_page {
  h1 {
    margin: 4rem auto;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
  }
  ul {
    padding-left: 1rem;
  }
  .commands {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .synopsis {
    .exec_code {
      display: block;
      background: #EEE;
      padding: 1rem;
      margin: 1rem 0 .5rem 0;
    }
    .code_inline {
      font-family: monospace,monospace;
      display: inline;
      background: #EEE;
    }
    p {
      line-height: 1.5em;
    }
    width: 90%;
    padding-bottom: .8rem;
    border-bottom: 1px solid #DDD;
    margin-bottom: .8rem;
  }
}